<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
    <meta name="author" content="{% block meta_author %}QM-Animation{% endblock %}">
    <title>{% block title %}QM-Animation{% endblock %}</title>
    {% block stylesheet %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{{ asset("assets/css/bootstrap.min.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ asset("assets/css/style.css") }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('assets/css/icons.css') }}" >


    {% endblock %}

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ path('blog_homepage') }}">
          <img class = "logo" src="{{ asset("assets/images/logo.png") }}" alt="QM-Animation" />
        </a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Меню
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('blog_homepage') }}">Главная</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('blog_category_posts', {'categorySlug': 'tutorials'}) }}">Уроки</a>
            </li>
           {# <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Магазин</a>
            </li> #}
          </ul>
        </div>
      </div>
    </nav>

    <div class = 'content' >
      {% block content %}

      {% endblock %}
    </div>

        <!-- Footer -->
        <!--
        <footer class="footer text-center">
          <div class="container">
            <div class="row">
<!--
              <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">2215 John Daniel Drive
                  <br>Clark, MO 65243</p>
              </div>

              <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item">
                    <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://t.me/qmanimation">
                      <i class="icon-telegram"></i>
                    </a>
                  </li>
                  
                  <li class="list-inline-item">
                    <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.youtube.com/user/QAnimationChannel">
                      <i class="fa fa-fw fa-facebook"></i>
                    </a>
                  </li>
    
                </ul>
              </div>
              <div class="col-md-4">
                <h4 class="text-uppercase mb-4">QM-Animation</h4>
                <p class="lead mb-0">Учим делать мультики.</p>
              </div>
            </div>
          </div>
        </footer>



		-->
        <div class="copyright py-4 text-center text-white">
          <div class="container">
            <small>Copyright &copy; QM-Animation 2013</small>
            <i class="fa fa-user"></i>
            <i class="fa fa-user"></i>
          </div>
        </div>
            

        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
        <div class="scroll-to-top d-lg-none position-fixed ">
          <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="far fa-user"></i>
          </a>
        </div>
      </body>
      {% block javascript %}
      
      <!-- Yandex.Metrika counter -->
		<script type="text/javascript" >
			(function (d, w, c) {
				(w[c] = w[c] || []).push(function() {
					try {
						w.yaCounter36685945 = new Ya.Metrika({
							id:36685945,
							clickmap:true,
							trackLinks:true,
							accurateTrackBounce:true
						});
					} catch(e) { }
				});

				var n = d.getElementsByTagName("script")[0],
					s = d.createElement("script"),
					f = function () { n.parentNode.insertBefore(s, n); };
				s.type = "text/javascript";
				s.async = true;
				s.src = "https://mc.yandex.ru/metrika/watch.js";

				if (w.opera == "[object Opera]") {
					d.addEventListener("DOMContentLoaded", f, false);
				} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
		</script>
		<noscript><div><img src="https://mc.yandex.ru/watch/36685945" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript" src = "{{ asset("assets/js/jquery.easing.compatibility.js") }}"></script>
      <script type="text/javascript" src = "{{ asset("assets/js/bootstrap.bundle.min.js") }}"></script>
      <script type="text/javascript" src = "{{ asset("assets/js/main.js") }}"></script>
      <!-- <script type="text/javascript" src = "{{ asset("assets/js/ckeditor_plugins/videoembed/plugin.js") }}"></script> -->
      {% endblock %}



</html>
