<div class = 'well sb-search-well'>

      {{ form_start(form) }}

        <div class="thrive-search-input">
          <i class="material-icons search-icon"></i>
          {{ form_widget(form.search, { 'attr' : {'class': 'form-control', 'placeholder':'Поиск по сайту' }}) }}
        </div>
        {{ form_widget(form.submit, { 'attr' : {'class': 'btn btn-primary' }}) }}

      {{ form_end(form) }}

      {#
     <form class="" action="{{ path('blog_posts') }}" method="get">
         <div class="thrive-search-input">
           <i class="material-icons search-icon">search</i>
           <input class="form-control" placeholder="Поиск по сайту" name="search" type="search" >
         </div>
         <button class="btn btn-primary" type="submit">Поиск</button>
     </form>
     #}

 </div>
